<launch>
  <!-- load configuration -->
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />

  <!-- spawn controller -->
  <node pkg="sr_utilities_common" type="timed_rosrun.sh" args="12 controller_manager spawner joint_state_controller" name="timed_rosrun" output="screen" />
</launch>